body {
    background-color: #f3f4f6;
    font-family: Arial, Helvetica, sans-serif;
}

/* əsas qutu */
.container {
    width: 900px;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* başlıq */
.title {
    text-align: center;
    font-size: 36px;
    color: #2c3e50;
    margin-bottom: 30px;
}

/* form hissəsi */
.form-group {
    display: flex;
    gap: 15px;
    margin-bottom: 40px;
}

/* input */
input {
    padding: 12px;
    width: 260px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/* select */
select {
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/* button */
.btn {
    background-color: #22c55e;
    color: white;
    border: none;
    padding: 12px 22px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

    /* button hover */
    .btn:hover {
        background-color: #16a34a;
    }

/* alt başlıq */
h2 {
    margin-bottom: 15px;
    color: #1f2937;
}

/* cədvəl */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

/* başlıq hüceyrə */
th {
    background-color: #f1f1f1;
    padding: 12px;
    text-align: left;
}

/* data hüceyrə */
td {
    padding: 12px;
    border-bottom: 1px solid #e5e7eb;
}

/* status rəngi */
.status {
    color: green;
    font-weight: bold;
}
